# Exclude from Composer archive
/.gitattributes export-ignore
/.gitignore export-ignore
/node_modules export-ignore
/vendor export-ignore
/src export-ignore
/spec export-ignore
/scripts export-ignore
/content export-ignore
/typings export-ignore
/gruntfile.js export-ignore
/eslint.config.js export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/composer.lock export-ignore
/devbridge-autocomplete.jquery.json export-ignore
/index.htm export-ignore
/readme.md export-ignore
